In [2]:
import pandas as pd

In [3]:
homicides = pd.read_csv('Homicide.csv')

In [12]:
#how many rows are in the dataset?
# 1015 rows, 13 columns
homicides.shape

(1015, 13)

In [14]:
#list the columns
# homicides.head() - shows the data
homicides.dtypes

X                  float64
Y                  float64
Index_               int64
Event_Unique_ID     object
Occurrence_year      int64
Division            object
Homicide_Type       object
Occurrence_Date     object
Hood_ID              int64
Neighbourhood       object
Lat                float64
Long               float64
ObjectId             int64
dtype: object

In [13]:
#replace the default index with the values of the 'Index_' column

In [15]:
#list the types of homicides in the order of their frequency (most to least)
# homicides['Homicide_Type'] -- this is a series
# homicides[['Homicide_Type']] -- this is a data frame
# value_counts only works on a series
homicides['Homicide_Type'].value_counts()

Shooting    526
Other       263
Stabbing    226
Name: Homicide_Type, dtype: int64

In [21]:
#find the year with the highest number of shootings
homicides[homicides['Homicide_Type']=='Shooting']['Occurrence_year'].value_counts()

2005    53
2018    51
2007    44
2016    41
2017    39
2009    37
2008    37
2012    34
2010    32
2006    29
2011    28
2014    27
2015    26
2004    26
2013    22
Name: Occurrence_year, dtype: int64

In [23]:
#which neighborhood had the highest number of stabbings
homicides[homicides['Homicide_Type']=='Stabbing']['Neighbourhood'].value_counts()

Downsview-Roding-CFB (26)                   8
South Riverdale (70)                        7
Thorncliffe Park (55)                       5
O'Connor-Parkview (54)                      5
Dovercourt-Wallace Emerson-Junction (93)    5
Woburn (137)                                5
Glenfield-Jane Heights (25)                 5
Mount Olive-Silverstone-Jamestown (2)       5
L'Amoreaux (117)                            4
Birchcliffe-Cliffside (122)                 4
Rouge (131)                                 4
Bay Street Corridor (76)                    4
Rockcliffe-Smythe (111)                     4
Wexford/Maryvale (119)                      4
Morningside (135)                           4
West Hill (136)                             4
Church-Yonge Corridor (75)                  4
Annex (95)                                  4
Danforth (66)                               4
Cabbagetown-South St.James Town (71)        4
Moss Park (73)                              4
North St.James Town (74)                    4
York University Heights (27)                3
Eringate-Centennial-West Deane (11)         3
Stonegate-Queensway (16)                    3
Etobicoke West Mall (13)                    3
Islington-City Centre West (14)             3
Victoria Village (43)                       3
Rustic (28)                                 3
Bendale (127)                               3
                                           ..
Mount Dennis (115)                          1
Bedford Park-Nortown (39)                   1
Oakwood Village (107)                       1
Trinity-Bellwoods (81)                      1
St.Andrew-Windfields (40)                   1
Alderwood (20)                              1
Humber Heights-Westmount (8)                1
Briar Hill-Belgravia (108)                  1
Agincourt South-Malvern West (128)          1
Casa Loma (96)                              1
South Parkdale (85)                         1
West Humber-Clairville (1)                  1
Lansing-Westgate (38)                       1
Woodbine Corridor (64)                      1
Playter Estates-Danforth (67)               1
High Park-Swansea (87)                      1
Ionview (125)                               1
Niagara (82)                                1
Milliken (130)                              1
Agincourt North (129)                       1
Englemount-Lawrence (32)                    1
Little Portugal (84)                        1
Runnymede-Bloor West Village (89)           1
Rexdale-Kipling (4)                         1
Rosedale-Moore Park (98)                    1
Clanton Park (33)                           1
Henry Farm (53)                             1
Bathurst Manor (34)                         1
Regent Park (72)                            1
Hillcrest Village (48)                      1
Name: Neighbourhood, Length: 97, dtype: int64

In [103]:
#list the five safest neighborhoods
# princeton's approach
# homicides.groupby('Neighbourhood')[['Homicide_Type']].count().sort_values(by='Homicide_Type').head(5)
# sue's
# homicides.groupby(['Neighbourhood']).count().sort_values(by='X').head(5)
# Mayanks's
homicides['Neighbourhood'].value_counts().tail(5)

Lawrence Park North (105)     2
Newtonbrook West (36)         1
Yonge-Eglinton (100)          1
Kingsway South (15)           1
Bayview Woods-Steeles (49)    1
Name: Neighbourhood, dtype: int64

In [100]:
#for 2018, list the months with the highest and lowest homicides
# homicides[homicides['Occurrence_year']==2018]['Occurrence_Date'].dt.month
#  df['ArrivalDate'].dt.month
# df['ArrivalDate'] = pandas.to_datetime(df['ArrivalDate'])
# df['StateInitial'] = df['state'].str[:2]
# ----
# df = value_counts.rename_axis('unique_values').reset_index(name='counts')
# print (df)
# Use rename_axis for name of column from index and reset_index:
#  unique_values  counts
# 0              2       3
# 1              1       2
# -----------------
#  a[start:stop]  # items start through stop-1
#  a[start:]      # items start through the rest of the array
#  a[:stop]       # items from the beginning through stop-1
#  a[:]           # a copy of the whole array
#  There is also the step value, which can be used with any of the above:
#  
#  a[start:stop:step] # start through not past stop, by step
# ----------------------------
# this works - gives YYYY-MM
df = homicides[homicides['Occurrence_year']==2018]['Occurrence_Date'].str[:7].value_counts().rename_axis('month').reset_index(name='counts')
# this uses just the 2 digit month
# df = homicides[homicides['Occurrence_year']==2018]['Occurrence_Date'].str[5:7].value_counts().rename_axis('month').reset_index(name='counts')
print('worst --',df.head(1))
print('best --',df.tail(1))

worst --      month  counts
0  2018-04      13
best --       month  counts
11  2018-02       3

In [28]:
#show on a map, your five safest neighborhoods

In [ ]:
#plot the dataset on a map
# will need to import another library

In [106]:
# transform our year column - add 'y' to the end of the year
# we didn't get this working but I think answer might be here https://thispointer.com/pandas-apply-apply-a-function-to-each-row-column-in-dataframe/

def change_year(value):
    try:
        return str(value)+'y'
    except:
        return '----'

modified = homicides[['Occurrence_year']].apply(change_year)

Occurrence_year    0       2004\n1       2004\n2       2004\n3   ...
dtype: object