In [1]:
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

titanic = pd.read_csv('titanic.csv',sep=';')

In [5]:
# 1309 rows, 14 cols
titanic.shape

(1309, 14)

In [6]:
titanic.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64